html {
    font-family: "left_handed_girlfriend";
    font-weight: 500;
}

@font-face {
    font-family: left_handed_girlfriend;
    src: url(fonts/left_handed_girlfriend.otf);
}

body {
    margin: auto;
    margin-top: 40px;
    width: 800px;
    font-size: 1.1em;
}

.ranking {
    display: inline-block;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.legend {
    margin: auto;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

th {
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    border-bottom: 1px solid black;
}

img {
    display: inline-block;
    position: fixed;
    margin-left: -350px;
    margin-right: 50px;
    width: 300px;
    text-align: right;
    opacity: 0.1;
}

td,
th {
    padding: 3px 15px;
}

h1,
h2,
h4 {
    text-align: center;
    margin: 5px;
}

.ranking tbody tr:nth-child(even) {
    background-color: #e8423fe3;
    color: white;
}